{
  "presets": ["next/babel"],
  "plugins": [["prismjs", {
      "languages": ["javascript", "css", "markup", "jsx", "tsx", "python"],
      "plugins": ["line-numbers"],
      "theme": "okaidia",
      "css": true
    }]]
}