.card {
  padding: 1.5rem;

  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  height: 125px;
  width: 125px;
  background-color: #eaeaea20;

  display: flex;
  align-items: center;
  place-content: center;
  flex-direction: column;
  text-align: center;
}

.card:hover,
.card:focus {
  background-color: #f9414410;
  color: #f94144;
  border-color: #f94144;
}
.card:nth-of-type(2n):hover,
.card:nth-of-type(2n):focus {
  background-color: #90be6d10;
  color: #90be6d;
  border-color: #90be6d;
}
.card:nth-of-type(3n):hover,
.card:nth-of-type(3n):focus {
  background-color: #4895ef10;
  color: #4895ef;
  border-color: #4895ef;
}
.card:nth-of-type(4n):hover,
.card:nth-of-type(4n):focus {
  background-color: #f8961e10;
  color: #f8961e;
  border-color: #f8961e;
}
.card:nth-of-type(5n):hover,
.card:nth-of-type(5n):focus {
  background-color: #826aed10;
  color: #826aed;
  border-color: #826aed;
}
.card:nth-of-type(6n):hover,
.card:nth-of-type(6n):focus {
  background-color: #f9c74f10;
  color: #f9c74f;
  border-color: #f9c74f;
}

.card img {
  align-self: center;
}

.card h2 {
  margin: 1rem 0;
  font-size: 1rem;
}

.card p {
  margin: 0;
  font-size: 0.75rem;
  line-height: 0.75rem;
  opacity: 80%;
}

@media (prefers-color-scheme: dark) {
  .card {
    border-color: #222;
    background-color: rgb(5, 5, 5);
  }
}
