.emojis {
  padding: 0 2.8em;
}
.emojis h3 {
  margin: 2.4em 0 1em 0;
  text-align: center;
  font-weight: 400;
}
.tableOfContents {
  max-width: 90vw;
  font-size: 1.2em;
  margin-top: 2em;
  margin-bottom: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 0.4em;
}
.search {
  padding: 0.6em;
  background-color: #eaeaea20;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  min-width: 400px;
  font-size: 1.1em;
}
.tableOfContents a {
  text-decoration: underline;
}
.tableOfContents a:hover {
  color: rgb(93, 93, 93);
}
.emojiGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6em;
}
.moreButton,
.button {
  background-color: #eaeaea20;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  height: 50px;
  width: 50px;
  font-size: 2em;

  display: flex;
  align-items: center;
  place-content: center;
  flex-direction: column;
  text-align: center;
}
.moreButton {
  min-width: 112px !important;
  font-size: 1.4em;
}

@media (hover: hover) and (pointer: fine) {
  .moreButton:hover,
  .button:hover {
    background-color: rgb(220, 220, 220);
  }
}
@media (max-width: 600px) {
  .emojis {
    padding: 0 1.2em;
  }
  .emojiGrid {
    gap: 0.8em;
  }
  .search {
    width: 100%;
  }
}
@media (prefers-color-scheme: dark) {
  .search,
  .moreButton,
  .button {
    border: 1px solid #222;
    background-color: rgb(5, 5, 5);
  }
  .moreButton:hover,
  .button:hover {
    background-color: rgb(61, 61, 61);
  }
}
