.emojis {
  padding: 0 2.8em;
}
.emojiGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6em;
}
.button {
  background-color: #eaeaea20;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  height: 50px;
  width: 50px;
  font-size: 2em;

  display: flex;
  align-items: center;
  place-content: center;
  flex-direction: column;
  text-align: center;
}

@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background-color: rgb(220, 220, 220);
  }
}
@media (max-width: 600px) {
  .emojis {
    padding: 0 1.2em;
  }
  .emojiGrid {
    gap: 0.8em;
  }
}
@media (prefers-color-scheme: dark) {
  .button {
    border-color: #222;
    background-color: rgb(5, 5, 5);
  }
  .button:hover {
    background-color: rgb(61, 61, 61);
  }
}
