.container {
  min-height: 100vh;
  padding: 1em 2em;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}
.main h1 {
  text-align: center;
  font-size: 1.5em;
}
.main span {
  background-image: linear-gradient(60deg, #826aed, #4895ef);
  background-clip: text;
  color: transparent;
  width:fit-content;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 125px);
  grid-gap: 1em;
  justify-content: center;
}
.snippets {
  border: 1px solid #4896ef9e;
  background-color: #4896ef58;
  border-radius: 12px;
  padding: 1em 1.5em;
}

.footer {
  display: flex;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

@media (prefers-color-scheme: dark) {
  .footer {
    border-top: 1px solid #3c3c3c;
  }
}
@media only screen and (max-width: 600px) {
}
