.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2.8em;
  gap: 1em;
  font-weight: 600;
  border-bottom: 1px solid #84b7f1;
  background-color: #84b7f190;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
}
.nav a:hover {
  text-decoration: underline;
  opacity: 60%;
}
.nav a img {
  width: 20px;
  height: 20px;
  display: flex;
  place-content: center;
}
.nav a img:hover {
  opacity: 60%;
}
.main {
  flex: 1;
  padding: 1em 2em;
}
.main h1 {
  text-align: center;
  font-size: 1.5em;
  margin: 1em 0;
}
.main span {
  background-image: linear-gradient(60deg, #826aed, #4895ef);
  background-clip: text;
  color: transparent;
  width: fit-content;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 125px);
  grid-gap: 1em;
  justify-content: center;
}
.emojis {
  padding: 0 2.8em;
}
.emojiGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6em;
}
.snippets {
  padding: 1em 1.5em;
  display: flex;
  flex-direction: column;
  gap: 0.4em;
}

.footer {
  margin-top: 4em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2em 1em;
}

.footer a {
  height: 6px;
  padding: 1em;
}
.footer a:hover {
  opacity: 60%;
}
.footer a img {
  width: 32px;
  height: 32px;
}
.footer a img:hover {
  opacity: 80%;
}
@media (prefers-color-scheme: dark) {
  .nav {
    border-color: #303030;
    background-color: #1b1b1b;
  }
  .footer a img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(96deg)
      brightness(104%) contrast(101%);
  }
}
